{% extends 'base.html' %}

{% block title %}Который час?{% endblock %}

{% block content %}
<h1 class="main-header">Надеюсь, ты не врешь</h1>
<div class="select-time">
  <p>А теперь я попрошу тебя выбрать твое любимое время</p>
  <input type="range" min="0" max="86400" value="0" class="select-time" id="select-time">
  <p><span id="value-time">00:00</span></p>
  <p><span id="output"></span></p>
  <button id="send-time">Выбрать</button>
  
  <script>
    let timeslider = document.getElementById('select-time');
    let output = document.getElementById('value-time');
    output.innerHML = timeslider.value;

    timeslider.oninput = function() {
      let hours = ('0' + Math.floor(this.value / 3600)).slice(-2);
      let minutes = ('0' + Math.floor((this.value - hours * 3600) / 60)).slice(-2);
      output.innerHTML = `${hours}:${minutes}`;
    }
  </script>
  <script>
    document.getElementById('send-time').addEventListener('click', async() => {
      const lang = '{{ lang }}';
      const name = '{{ name }}';
      var time = document.getElementById('select-time').value;
      var responce = await fetch(`/${lang}/time/${name}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({value: time})
    });

    if (responce.ok) {
      const data = await responce.json();
      window.location.href = data.redirect_url;
    } else {
      alert("Ошибка отправки данных");
    }
  });
  </script>
</div>

{% endblock %}